/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "ownbut.h"

BMP_OK_UP			BITMAP	"OK_UP.bmp"
BMP_OK_DOWN			BITMAP	"OK_DOWN.bmp"
BMP_OK_FOCUS		BITMAP	"OK_FOCUS.bmp"
BMP_OK_DISABLED		BITMAP	"OK_DISABLED.bmp"

BMP_INSERT_UP		BITMAP	"INSERT_UP.bmp"
BMP_INSERT_DOWN		BITMAP	"INSERT_DOWN.bmp"
BMP_INSERT_FOCUS	BITMAP	"INSERT_FOCUS.bmp"
BMP_INSERT_DISABLED	BITMAP	"INSERT_DISABLED.bmp"

BMP_MODIFY_UP		BITMAP	"MODIFY_UP.bmp"
BMP_MODIFY_DOWN		BITMAP	"MODIFY_DOWN.bmp"
BMP_MODIFY_FOCUS	BITMAP	"MODIFY_FOCUS.bmp"
BMP_MODIFY_DISABLED	BITMAP	"MODIFY_DISABLED.bmp"

BMP_DELETE_UP		BITMAP	"DELETE_UP.bmp"
BMP_DELETE_DOWN		BITMAP	"DELETE_DOWN.bmp"
BMP_DELETE_FOCUS	BITMAP	"DELETE_FOCUS.bmp"
BMP_DELETE_DISABLED	BITMAP	"DELETE_DISABLED.bmp"
