
#include <windows.h>
#include <commctrl.h>
#include <winver.h>
#include "findfileres.h"
#include "ButtonEx.h"

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

//1 MANIFEST "findfile.exe.manifest"
IDM_FOLDER BITMAP "images\\folder.bmp"
IDM_DEPENDS BITMAP "images\\depends.bmp"
IDM_OPEN BITMAP "images\\open.bmp"
IDM_RENAME BITMAP "images\\rename.bmp"
IDM_COPYTO BITMAP "images\\copyto.bmp"
IDM_MOVETO BITMAP "images\\moveto.bmp"
IDM_DELETE BITMAP "images\\delete.bmp"
IDM_RECYCLE BITMAP "images\\recycle.bmp"
IDM_PROPERTIES BITMAP "images\\properties.bmp"
IDM_EXIT BITMAP "images\\exit.bmp"
IDM_EDITSENDTO BITMAP "images\\edit.bmp"
IDM_EXTENDEDSEARCH BITMAP "images\\extended2.bmp"
IDM_ABOUT BITMAP "images\\about.bmp"
IDM_UP BITMAP "images\\up.bmp"
IDM_DOWN BITMAP "images\\down.bmp"
IDM_NOTDEPENDS BITMAP "images\\notdepends.bmp"
IDM_BANNER BITMAP "images\\banner1.bmp"
1 ICON "images\\new.ico"
2 ICON "images\\destroy.ico"
3 ICON "images\\move.ico"
10 ICON "images\\driverem.ico"
11 ICON "images\\drivefix.ico"
12 ICON "images\\drivecdr.ico"
13 ICON "images\\drivermt.ico"
14 ICON "images\\driveram.ico"
15 ICON "images\\driveund.ico"
16 ICON "images\\folder.ico"
17 ICON "images\\folderopen.ico"
18 ICON "images\\drivenot.ico"
19 CURSOR "images\\multi.cur"
20 CURSOR "images\\default.cur"
ID_LNK CURSOR "images\\arrow.cur"
22 CURSOR "images\\not.cur"

IDMENU_MAIN MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Explore Folder", IDM_FOLDER
    MENUITEM "Open", IDM_OPEN
    MENUITEM SEPARATOR
    MENUITEM "Rename", IDM_RENAME
    MENUITEM "CopyTo", IDM_COPYTO
    MENUITEM "MoveTo", IDM_MOVETO
    MENUITEM SEPARATOR
    MENUITEM "Delete", IDM_DELETE
    MENUITEM "Recycle Bin", IDM_RECYCLE
    MENUITEM SEPARATOR
    MENUITEM "Properties", IDM_PROPERTIES
    MENUITEM SEPARATOR
    MENUITEM "Exit", IDM_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "SendTo Menu", IDM_EDITSENDTO
    MENUITEM "Extended Search", IDM_EXTENDEDSEARCH
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "About FindFile", IDM_ABOUT
  END
END

IDDIALOG_MAIN DIALOGEX DISCARDABLE 21, 4, 397, 240
STYLE DS_MODALFRAME|WS_THICKFRAME|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|WS_MAXIMIZEBOX|WS_VISIBLE
CAPTION "FindFile"
CLASS "findfile"
FONT 8, "Helv", 0, 0, 1
BEGIN
  CONTROL "", IDS_BACK, "Static", WS_BORDER|WS_GROUP, 2, 2, 106, 205
  CONTROL "Enable Extended Search", IDCHK_ENABLE_EXT, "Button", BS_AUTOCHECKBOX, 8, 130, 110, 12
  CONTROL "", IDS_EXTBACK, "Static", WS_GROUP, 8, 140, 110, 105
  CONTROL "File Search", IDS_FILE, "Static", WS_GROUP, 9, 10, 100, 11
  CONTROL "", IDE_FILTER, "Edit", ES_AUTOHSCROLL|ES_WANTRETURN|WS_BORDER|WS_TABSTOP, 9, 21, 100, 12
  CONTROL "", IDS_PICBOX, "Static", WS_BORDER|WS_GROUP, 119, 14, 272, 48
  CONTROL "Text Search", IDS_TSEARCH, "Static", WS_GROUP, 10, 56, 98, 12
  CONTROL "", IDE_SEARCH, "Edit", ES_AUTOHSCROLL|ES_WANTRETURN|WS_BORDER|WS_TABSTOP, 9, 76, 100, 12
  CONTROL "", IDE_HEADER, "Edit", ES_MULTILINE|ES_WANTRETURN|WS_VSCROLL, 190, 15, 201, 46
  CONTROL "Search SubFolders", IDCHK_SUBFOLDER, "Button", BS_AUTOCHECKBOX, 9, 96, 95, 10
  CONTROL "*AutoWildcards*", IDCHK_AUTOWILDC, "Button", BS_AUTOCHECKBOX, 9, 96, 95, 10
  CONTROL "Case Sensitive", IDCHK_CASE, "Button", BS_AUTOCHECKBOX, 9, 96, 95, 10
  CONTROL "File counts only", IDCHK_OCCUR, "Button", BS_AUTOCHECKBOX, 9, 96, 95, 10
  CONTROL "", IDC_LISTVIEW, "SysListView32", LVS_REPORT|LVS_SHAREIMAGELISTS|LVS_OWNERDATA|WS_BORDER, 119, 70, 272, 121
  CONTROL "Search", IDB_SEARCH, "ButtonExClass", BXS_XP, 119, 193, 40, 16
  CONTROL "Cancel", IDB_CANCEL, "ButtonExClass", BXS_XP, 172, 193, 40, 16
END

IDDIALOG_CONFIRM DIALOG DISCARDABLE 13, 40, 208, 63
STYLE WS_POPUP|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
CAPTION "FindFile - Confirm Operation"
FONT 8, "Helv"
BEGIN
  CONTROL 2, IDI_CONFIRMICONDEL, "Static", SS_ICON, 10, 10, 16, 16
  CONTROL 3, IDI_CONFIRMICONMOV, "Static", SS_ICON, 10, 10, 16, 16
  CONTROL "&Yes", IDB_CONFIRMYES, "ButtonExClass", WS_TABSTOP|BXS_XP|BXS_FOCUSRECT, 89, 43, 47, 14
  CONTROL "&Cancel", IDB_CONFIRMCANCEL, "ButtonExClass", WS_TABSTOP|BXS_XP|BXS_FOCUSRECT, 145, 43, 47, 14
  CONTROL "", IDS_TEXTCONFIRM, "Static", WS_GROUP, 43, 12, 147, 20
END

IDDIALOG_MESBOX DIALOG DISCARDABLE 13, 40, 238, 63
STYLE WS_POPUP|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
CAPTION "FindFile Message..."
FONT 8, "Helv"
BEGIN
  CONTROL 1, -1, "Static", SS_ICON, 10, 10, 16, 16
  CONTROL "OK", IDB_SEARCH, "ButtonExClass", BXS_XP|BXS_FOCUSRECT, 185, 43, 47, 14
  CONTROL "", IDS_MESSAGETEXT, "Static", WS_GROUP, 43, 12, 177, 30
END

IDDIALOG_SENDTO DIALOG DISCARDABLE 23, 24, 226, 177
STYLE WS_POPUP|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
CAPTION "SendTo Menu Items"
FONT 8, "Helv"
BEGIN
  CONTROL "Add or Edit a SendTo Menu Item", -1, "Button", BS_GROUPBOX, 6, 6, 214, 143
  CONTROL "", IDE_1, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 23, 160, 12
  CONTROL "Edit Item", IDB_ED1, "ButtonExClass", BXS_XP, 178, 23, 35, 12
  CONTROL "", IDE_2, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 43, 160, 12
  CONTROL "Edit Item", IDB_ED2, "ButtonExClass", BXS_XP, 178, 43, 35, 12
  CONTROL "", IDE_3, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 63, 160, 12
  CONTROL "Edit Item", IDB_ED3, "ButtonExClass", BXS_XP, 178, 63, 35, 12
  CONTROL "", IDE_4, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 83, 160, 12
  CONTROL "Edit Item", IDB_ED4, "ButtonExClass", BXS_XP, 178, 83, 35, 12
  CONTROL "", IDE_5, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 102, 160, 12
  CONTROL "Edit Item", IDB_ED5, "ButtonExClass", BXS_XP, 178, 102, 35, 12
  CONTROL "", IDE_6, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 123, 160, 12
  CONTROL "Edit Item", IDB_ED6, "ButtonExClass", BXS_XP, 178, 123, 35, 12
  CONTROL "Clear All", IDB_CLEAR, "ButtonExClass", BXS_XP, 35, 158, 45, 14
  CONTROL "OK", IDB_SEARCH, "ButtonExClass", BXS_XP, 115, 158, 45, 14
  CONTROL "Cancel", IDB_CANCEL, "ButtonExClass", BXS_XP, 169, 158, 45, 14
  CONTROL 1, -1, "Static", SS_ICON, 10, 154, 16, 16
END

IDDIALOG_EDITSENDTO DIALOG DISCARDABLE 23, 24, 222, 120
STYLE WS_POPUP|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
CAPTION "Edit SendTo Menu"
FONT 8, "Helv"
BEGIN
  CONTROL 1, -1, "Static", SS_ICON, 10, 6, 16, 16
  CONTROL "", IDE_DISP, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 44, 122, 12
  CONTROL "", IDE_1, "Edit", ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 12, 76, 197, 12
  CONTROL "Folder", IDB_FOLD_1, "ButtonExClass", BXS_XP, 140, 44, 32, 12
  CONTROL "Program", IDB_PROG_1, "ButtonExClass", BXS_XP, 177, 44, 32, 12
  CONTROL "OK", IDB_SEARCH, "ButtonExClass", BXS_XP, 111, 99, 45, 14
  CONTROL "Cancel", IDB_CANCEL, "ButtonExClass", BXS_XP, 164, 99, 45, 14
  CONTROL "Choose Either a Folder or Program and enter the Display Name", IDDIALOG_EXTENDED, "Static", SS_CENTER|WS_GROUP, 35, 6, 159, 19
  CONTROL "Display Name", IDDIALOG_ABOUT, "Static", WS_GROUP, 12, 32, 51, 11
  CONTROL "The Folder Or Program", 108, "Static", WS_GROUP, 12, 64, 94, 11
END

IDDIALOG_EXTENDED DIALOG DISCARDABLE 7, 20, 242, 112
STYLE WS_POPUP|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
CAPTION "Extended Search Parameters"
FONT 8, "Helv"
BEGIN
  CONTROL "OK", IDB_SEARCH, "ButtonExClass", BXS_XP, 142, 92, 40, 14
  CONTROL "Cancel", IDB_CANCEL, "ButtonExClass", BXS_XP, 188, 92, 40, 14
  CONTROL "Reset", IDB_RESET, "ButtonExClass", BXS_XP, 36, 92, 40, 14
  CONTROL "", IDE_SIZE_GREATER, "Edit", ES_NUMBER|ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 134, 26, 39, 12
  CONTROL "More Than Bytes", -1, "Static", WS_GROUP, 178, 27, 58, 10
  CONTROL "", IDE_SIZE_LESS, "Edit", ES_NUMBER|ES_AUTOHSCROLL|WS_BORDER|WS_TABSTOP, 134, 52, 39, 12
  CONTROL "Less Than Bytes", -1, "Static", WS_GROUP, 178, 53, 58, 10
  CONTROL "Fill in one or more Parameters (dates require dd/mm/yyyy)", -1, "Button", BS_GROUPBOX, 6, 6, 230, 75
  CONTROL "", IDC_DAY_AFTER, "ComboBox", WS_BORDER|CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP, 10, 25, 23, 135
  CONTROL "", IDC_MONTH_AFTER, "ComboBox", WS_BORDER|CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP, 36, 25, 23, 135
  CONTROL "", IDC_YEAR_AFTER, "ComboBox", WS_BORDER|CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP, 61, 25, 39, 135
  CONTROL "After", -1, "Static", WS_GROUP, 103, 27, 27, 10
  CONTROL "", IDC_DAY_BEFORE, "ComboBox", WS_BORDER|CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP, 10, 51, 23, 135
  CONTROL "", IDC_MONTH_BEFORE, "ComboBox", WS_BORDER|CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP, 36, 51, 23, 135
  CONTROL "", IDC_YEAR_BEFORE, "ComboBox", WS_BORDER|CBS_DROPDOWN|WS_VSCROLL|WS_TABSTOP, 61, 51, 39, 135
  CONTROL "Before", -1, "Static", WS_GROUP, 103, 53, 27, 10
  CONTROL 1, -1, "Static", SS_ICON, 10, 90, 16, 16
END

IDDIALOG_ABOUT DIALOG DISCARDABLE 86, 26, 183, 156
STYLE WS_POPUP|DS_MODALFRAME|WS_CAPTION|WS_SYSMENU|WS_VISIBLE
CAPTION "About FindFile"
FONT 8, "Helv"
BEGIN
  CONTROL "", 108, "Static", SS_OWNERDRAW|SS_SUNKEN, 4, 3, 175, 30
  CONTROL "FindFile", -1, "Static", WS_GROUP, 49, 43, 125, 8
  CONTROL "Copyright © 2003 by John Findlay", -1, "Static", WS_GROUP, 49, 54, 125, 8
  CONTROL 1, -1, "Static", SS_ICON, 8, 42, 32, 32
  CONTROL "", -1, "Static", SS_ETCHEDHORZ, 49, 100, 125, 1
  CONTROL "version info", IDS_VERSION, "Static", WS_GROUP, 49, 107, 125, 8
  CONTROL "", -1, "Static", SS_ETCHEDHORZ, 49, 121, 125, 1
  CONTROL "Web Site", ID_LNK, "ButtonExClass", BXS_XP, 119, 72, 54, 14
  CONTROL "OK", IDB_SEARCH, "ButtonExClass", BXS_XP | BXS_FOCUSRECT, 119, 132, 54, 14
  CONTROL "", -1, "Button", BS_GROUPBOX, 4, 32, 175, 120
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,5,1,3
PRODUCTVERSION 1,5,0,0
FILEFLAGSMASK 0x3F
FILEFLAGS 0x0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904B0"
    BEGIN
      VALUE "FileDescription", "FindFile utility\0"
      VALUE "FileVersion", "1.5.0.3\0"
      VALUE "InternalName", "findfile\0"
      VALUE "LegalCopyright", "John Findlay\0"
      VALUE "OriginalFilename", "FindFile.exe\0"
      VALUE "ProductName", "FindFile\0"
      VALUE "ProductVersion", "1.5\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 0x4B0
  END
END

