/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "resource.h"


DLG_ABOUT DIALOG 7, 20, 237, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "Helv"
BEGIN
    CTEXT           "", ABOUT_INFO, 7, 6, 224, 97, SS_SUNKEN
END

DLG_LINE DIALOG 29, 25, 119, 48
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Goto Line"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Cancel", LINE_CANCEL, 70, 26, 40, 14
    EDITTEXT        LINE_NUMBER, 10, 8, 100, 12, ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "Cancel", LINE_GO, 70, 26, 40, 14
END

DLG_FIND DIALOGEX 24, -3, 256, 109
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Search"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        FIND_FIND, 15, 20, 150, 12, ES_MULTILINE | WS_GROUP, WS_EX_CLIENTEDGE
    LTEXT           "Tip: After this dialog has closed, use F3 to repeat the search.", 0, 90, 56, 78, 31
    AUTORADIOBUTTON "Backwards", FIND_BACKWARD, 16, 74, 54, 10
    AUTORADIOBUTTON "Forwards", FIND_FOWARD, 16, 62, 44, 10
    AUTORADIOBUTTON "Match case", FIND_CASE, 186, 14, 55, 10, WS_GROUP
    AUTORADIOBUTTON "Whole word", FIND_WORD, 186, 29, 57, 10, WS_GROUP
    PUSHBUTTON      "Search", FIND_SEARCH, 186, 56, 53, 16
    PUSHBUTTON      "Cancel", FIND_CANCEL, 186, 79, 53, 14
    GROUPBOX        "Text to Search", 701, 7, 6, 165, 35
    GROUPBOX        "Direction", 704, 7, 49, 73, 42
END

DLG_REPLACE DIALOGEX 10, 10, 261, 114
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Replace"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        REPLACE_FIND, 12, 20, 142, 12, ES_MULTILINE, WS_EX_CLIENTEDGE
    EDITTEXT        REPLACE_REPLACE, 12, 46, 142, 12, ES_MULTILINE, WS_EX_CLIENTEDGE
    AUTORADIOBUTTON "Backwards", REPLACE_BCKWRD, 85, 86, 54, 10
    AUTORADIOBUTTON "Forwards", REPLACE_FOWARD, 18, 86, 53, 10
    LTEXT           "Text to search", 701, 12, 8, 99, 12
    AUTORADIOBUTTON "Match case", REPLACE_CASE, 172, 64, 55, 10
    AUTORADIOBUTTON "Whole word", REPLACE_WORD, 172, 78, 56, 10
    AUTORADIOBUTTON "Confirmation", REPLACE_CONFIRM, 172, 91, 54, 10
    PUSHBUTTON      "Replace", REPLACE_GO, 170, 12, 76, 16
    PUSHBUTTON      "Cancel", REPLACE_CANCEL, 170, 32, 76, 14
    LTEXT           "Text to replace", 801, 12, 33, 71, 12
    GROUPBOX        "Direction", 802, 10, 70, 143, 35
    GROUPBOX        "Options", 804, 169, 51, 78, 55
END

DLG_LINE DIALOG 165, 81, 119, 48
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Goto Line"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "GO", LINE_GO, 10, 26, 40, 14
    PUSHBUTTON      "Cancel", LINE_CANCEL, 70, 26, 40, 14
    EDITTEXT        LINE_NUMBER, 10, 8, 100, 12, ES_AUTOHSCROLL | ES_NUMBER
END
IDACCEL ACCELERATORS
BEGIN
    78, 1001, VIRTKEY, CONTROL 
    83, 1003, VIRTKEY, CONTROL 
    79, 1002, VIRTKEY, CONTROL 
    80, 1005, VIRTKEY, CONTROL 
    81, 1006, VIRTKEY, CONTROL 
    90, 2001, VIRTKEY, CONTROL 
    65, 2006, VIRTKEY, CONTROL 
    VK_F3, 3001, VIRTKEY, ALT 
    VK_F3, 3002, VIRTKEY, 
    36, 3004, VIRTKEY, CONTROL 
    35, 3005, VIRTKEY, CONTROL 
    71, 3006, VIRTKEY, CONTROL 
    VK_F1, 7001, VIRTKEY, 
END
1200 ICON "icon_1.ico"
